<module>
	<rawname>endpointman</rawname>
	<repo>unsupported</repo>
	<name>OSS PBX End Point Manager</name>
	<version>17.0.1</version>
	<category>Settings</category>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<menuitems>
		<epm_devices needsenginedb="yes" sort="1" hidden="true">Device List</epm_devices>
		<epm_templates needsenginedb="yes" sort="2" hidden="true">Template Manager</epm_templates>
		<epm_config needsenginedb="yes" sort="3" hidden="true">Package Manager</epm_config>
		<epm_advanced needsenginedb="yes" sort="4" hidden="true">Advanced Settings</epm_advanced>
		<epm_placeholders needsenginedb="yes" sort="4" hidden="true">Config File Placeholders</epm_placeholders>
		<epm_oss needsenginedb="yes" sort="0">OSS Endpoint Manager</epm_oss>
	</menuitems>
	<description>
		OSS PBX End Point Manager is the free supported PBX Endpoint Manager for FreePBX.
		It is ***NOT*** supported by Sangoma. If you are looking for a supported endpoint manager please look into the Commercial Endpoint Manager by Sangoma Technologies, Inc
		The front end gui is hosted at: https://github.com/FreePBX/endpointman
		The backend configurator is hosted at: https://github.com/provisioner/Provisioner
		Pull Requests can be made to either of these and are encouraged.
	</description>
	<changelog>
		*17.0.1* Support for PHP 8.2
	</changelog>
	<database>
		<table name="endpointman_brand_list">
			<field name="id" type="string" length="11" primarykey="true"/>
			<field name="name" type="string" length="255"/>
			<field name="directory" type="string" length="255"/>
			<field name="cfg_ver" type="string" length="255"/>
			<field name="installed" type="integer" default="0"/>
			<field name="local" type="integer" default="0"/>
			<field name="hidden" type="integer" default="0"/>
			<key name="directory" type="unique">
				<column name="directory"/>
			</key>
		</table>
		<table name="endpointman_custom_configs">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="name" type="string" length="255"/>
			<field name="original_name" type="string" length="255"/>
			<field name="product_id" type="string" length="11"/>
			<field name="data" type="blob"/>
		</table>
		<table name="endpointman_global_vars">
			<field name="idnum" type="integer" primarykey="true" autoincrement="true"/>
			<field name="var_name" type="string" length="25"/>
			<field name="value" type="text"/>
			<key name="var_name" type="unique">
				<column name="var_name"/>
			</key>
		</table>
		<table name="endpointman_line_list">
			<field name="luid" type="integer" primarykey="true" autoincrement="true"/>
			<field name="ipei" type="string" length="15"/>
			<field name="mac_id" type="integer"/>
			<field name="line" type="smallint"/>
			<field name="ext" type="string" length="15"/>
			<field name="description" type="string" length="20"/>
			<field name="custom_cfg_data" type="blob"/>
			<field name="user_cfg_data" type="blob"/>
		</table>
		<table name="endpointman_mac_list">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="mac" type="string" length="12" notnull="false"/>
			<field name="model" type="string" length="11"/>
			<field name="template_id" type="integer"/>
			<field name="global_custom_cfg_data" type="blob"/>
			<field name="global_user_cfg_data" type="blob"/>
			<field name="config_files_override" type="text"/>
			<field name="global_settings_override" type="blob" notnull="false"/>
			<field name="specific_settings" type="blob" notnull="false"/>
			<key name="mac" type="unique">
				<column name="mac"/>
			</key>
		</table>
		<table name="endpointman_model_list">
			<field name="id" type="string" length="11" primarykey="true"/>
			<field name="brand" type="string" length="11"/>
			<field name="model" type="string" length="25"/>
			<field name="max_lines" type="smallint"/>
			<field name="template_list" type="text"/>
			<field name="template_data" type="blob" default=""/>
			<field name="product_id" type="string" length="11"/>
			<field name="enabled" type="integer" default="0"/>
			<field name="hidden" type="integer" default="0"/>
		</table>
		<table name="endpointman_oui_list">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="oui" type="string" length="30" notnull="false"/>
			<field name="brand" type="string" length="11"/>
			<field name="custom" type="integer" default="0"/>
			<key name="oui" type="unique">
				<column name="oui"/>
			</key>
		</table>
		<table name="endpointman_product_list">
			<field name="id" type="string" length="11" primarykey="true"/>
			<field name="brand" type="string" length="11"/>
			<field name="long_name" type="string" length="255"/>
			<field name="short_name" type="string" length="255"/>
			<field name="cfg_dir" type="string" length="255"/>
			<field name="cfg_ver" type="string" length="255"/>
			<field name="hidden" type="integer" default="0"/>
			<field name="firmware_vers" type="string" length="255" default="0"/>
			<field name="firmware_files" type="text" default=""/>
			<field name="config_files" type="text" notnull="false"/>
			<field name="special_cfgs" type="blob" default=""/>
		</table>
		<table name="endpointman_template_list">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="product_id" type="string" length="11"/>
			<field name="model_id" type="string" length="10"/>
			<field name="name" type="string" length="255"/>
			<field name="global_custom_cfg_data" type="blob" notnull="false"/>
			<field name="config_files_override" type="text" notnull="false"/>
			<field name="global_settings_override" type="blob" notnull="false"/>
		</table>
		<table name="endpointman_custom_configs">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="name" type="string" length="255"/>
			<field name="original_name" type="string" length="255"/>
			<field name="product_id" type="string" length="11"/>
			<field name="data" type="blob"/>
		</table>
	</database>
	<depends>
		<version>17.0.1</version>
		<phpversion>8.2.0</phpversion>
		<module>framework ge 17.0.19.4</module>
	</depends>
	<breaking>
		<module>
			<rawname>restart</rawname>
        	<type>conflict</type>
		</module>
	</breaking>
	<supported>
		<version>17.0</version>
	</supported>
	<hooks>
		<framework namespace="FreePBX\Console\Command" class="Chown">
			<method namespace="FreePBX\modules" class="Endpointman" callingMethod="fwcChownFiles">chownFreepbx</method>
		</framework>
	</hooks>
</module>
