<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
	colors="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stopOnRisky="false"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
	testdox="true"
	>

    <coverage>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>utests</directory>
        </exclude>
    </coverage>

	<testsuites>
		<testsuite name="My Test Suite">
			<directory>utests</directory>
		</testsuite>
	</testsuites>
</phpunit>